<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Konexbvc - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NewBiz - v2.1.0
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a href="index.html">Konexbvc</a></h1> -->
        <a href="{% url 'Konexbvc:index' %}"><img src="{% static 'assets/img/logo1.PNG' %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'Konexbvc:index' %}">Home</a></li>
          <li><a href="#about">Sobre nosotros</a></li>
          <li><a href="#testimonials">Testimonios</a></li>
          <li><a href="#team">Equipo</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <!-- ======= Intro Section ======= -->
  <section id="intro" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/intro-img.svg' %}" alt="" class="img-fluid">
      </div>

      <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>¡Registra o consulta<br>el <span>estado</span> de tus solicitudes!</h2>
            {% if messages %}
            <ul class="messages text-white">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <form method="post" action="{% url 'Konexbvc:detalle_tramite' %}" >
              {% csrf_token %}
              <div class="form-group">
                <label class="sr-only" for="tramite">Trámite:</label>
                <input type='text' name='numero_tramite' class="form-control"  id="tramite" placeholder="Ingresa tu trámite" />
              </div>
              <button type="submit" title="Send Message" class="btn-get-started">Consultar Trámite</button>
              <a href="{% url 'Konexbvc:registrar_tramite' %}" class="btn-services scrollto">Registrar Trámite</a>
            </form>
        </div>
      </div>

    </div>
  </section><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Sobre Nosotros</h3>
          <p>Transformamos el  proceso de radicación de pqrs a través de  una herramienta digital para mejorar la experiencia de usuario en  la radicación, consulta y notificación de estados de solicitudes, con ello lograremos impactar la percepción de servicio  de nuestros clientes y al mismo tiempo reducir el reproceso interno..</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fa fa-files-o"></i></div>
              <h4 class="title"><a href="">Digitalización de documentos</a></h4>
              <p class="description">Las solitudes podrán tener documentos asociados los cuales podran ser cargados y digitalizados en la plataforma</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fa fa-refresh"></i></div>
              <h4 class="title"><a href="">Agilidad en los procesos</a></h4>
              <p class="description">El registro del proceso tendrá items específicos que reduciran los procesos de registro manual o físico de la solictud y se podrá realizar todo el proceso de manera digital</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Información en tiempo real</a></h4>
              <p class="description">Ahora puedes consultar en línea el estado de tus solicitudes de forma sencilla y ágil</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="{% static 'assets/img/about-extra-1.svg' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'assets/img/about-extra-2.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>Integración con plataforma digital <strong>bvc</strong></h4>
            <p>
              Accesibilidad a través de plataforma digital, donde todos los productos de bvc serán centralizados facilitando los procesos de contacto y manteniendo una visión unificada y orientada al cliente.
            </p>
            <p>
              Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
            </p>
          </div>
        </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="section-bg">
      <div class="container" data-aso="zoom-in">

        <header class="section-header">
          <h3>Testimonios</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Quisiera hacer extensivo un mensaje de gratitud para la BVC y todo su equipo por el acompañamiento y disposición, no solo en este proceso de definición y entrada a producción del nuevo modelo de cumplimiento con CRCC.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  Un especial agradecimiento a Lina, Nadia, Luz Dary, Andres, Nicholas, Gildardo, que han demostrado su profesionalismo he incondicionalidad a pesar de nuestras múltiples solicitudes y requerimientos.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  En general la atención de todos es muy buena , son muy atentos y siempre están dispuestos a colaborar con nuestras inquietudes o necesidades.
                </p>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Equipo</h3>
          <p>Somos un equipo comprometido y orientado hacia soluciones que mejoren la experiencia de nuestros clientes</p>
        </div>

        <div class="row">

          <div class="col-lg-2 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/img/team-1.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Diego Galindo</h4>
                  <span>Director de servicio al cliente</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team-2.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Leonardo German Ferrari</h4>
                  <span>Director administración y gestión de proyectos</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Sanabria</h4>
                  <span>Director de Servicios de TI</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'assets/img/team-5.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Boris Jimenez</h4>
                  <span>Coordinador de auditoria</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-2 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team-4.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Manuel Veloza</h4>
                  <span>Mentor de Transformación Digital</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-2 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team-10.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>bvc</h4>
                  <span>Escuela de Liderazgo 2020</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <h3>Konexbvc</h3>
            <p>Ser el centro de conexión entre los <strong>sueños</strong> de las personas y los deseos de <strong>crecimiento</strong> de las empresas, liderando la <strong>transformación</strong> del mercado de capitales y contribuyendo al <strong>desarrollo</strong> económico del país.</p>
            <p>Conectados nuestro valor en más grande</p>
          </div>

          <div class="col-lg-6 col-md-6 footer-contact">
            <h4>Contactanos</h4>
            <p>
              Carrera 7 No. 71-21 Torre B Piso 12. <br>
              Bogotá<br>
              Colombia <br>
              <strong>PBX:</strong> (57 1) 313 9800.<br>
              <strong>Línea Única de Atención al Cliente:</strong> (57 1) 313 9000<br>
              <strong>Email:</strong> servicioalcliente@bvc.com.co<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/bvcColombia" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/bvccolombia/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/bvccolombia/?hl=es-la" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.bvc.com.co/pps/tibco/portalbvc" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="https://co.linkedin.com/company/bvccolombia" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Konexbvc</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>